<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{ecommercek.app.name}"></title>
</head>
<body>
<h1 th:text="#{ecommercek.app.name}"></h1>
<!--<div th:replace="fragments :: languages"></div>-->

<table>
    <th:block th:each="product: ${productList}" ➌>
        <tr>
            <td th:text="${product.productName}"></td>
            <td th:text="${product.description}"></td>
            <td th:text="${product.price}"></td>
            <td th:text="${product.category}"></td>
            <td><a th:text="#{ecommercek.app.edit}" th:href="@{/products/edit(prodId=${product.id})}">Edit the product</a></td>
        </tr>
    </th:block>
</table>
<h1 th:text="${ifInProductEditionView}"></h1>
<form th:action="@{/products}" method="post" th:object="${addProductForm}">
    <label for="productName" th:text="#{addProduct.security.productName}"></label>
    <input id="productName" type="text" th:field="*{productName}" autocomplete="off"><br>
    <label for="description" th:text="#{addProduct.security.description}"></label>
    <input id="description" type="text" th:field="*{description}" autocomplete="off"><br>
    <label for="category" th:text="#{addProduct.security.category}"></label>
    <input id="category" type="text" th:field="*{category}"><br>
    <label for="price" th:text="#{addProduct.security.price}"></label>
    <input id="price" type="number" th:field="*{price}"><br>
    <input id="id" type="hidden" th:field="*{id}"><br>
    <input type="submit" th:value="#{ecommercek.app.submit}">
</form>


</body>
</html>