<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{ecommercek.app.name}">Title</title>
    <link rel="stylesheet" th:href="@{/styles.css}"/>
</head>
<body>
<div th:replace="fragments :: languages"></div>
<div th:replace="fragments :: header"></div>
<h1 th:text="#{ecommercek.app.name}"></h1>
<h1>Welcome!</h1>
<img th:src="@{/static/images/pers.png}"/>
<!--<form th:action="@{/shopping}" method="POST" th:object="${shoppingCart}">-->
<!--    <div th:if="${#fields.hasErrors()}">-->
<!--<span class="validationError">-->
<!--Ooops! Please correct the problems below and resubmit.-->
<!--</span>-->
<!--    </div>-->

<h3>Select your shopping:</h3>

<table>
    <th:block th:each="product: ${allProducts}" ➌>
        <tr>
            <td th:text="${product.productName}"></td>
            <td th:text="${product.description}"></td>
            <td th:text="${product.price}"></td>
            <td th:text="${product.category}"></td>
            <td><a th:text="Buy" th:href="@{/shopping/my-cart(addToCartId=${product.id})}">Buy</a></td>
        </tr>
    </th:block>
</table>
<a th:href="@{/my-order}">My Order</a>

<!--            <a th:href="@{/my-order}" th:text="Order my shoppings">My Order</a>-->
<!--                </div>-->
<!--                <input type="submit" th:value="#{ecommercek.app.submit}">-->


<!--        <div class="ingredient-group" id="proteins">-->
<!--            <h3>Pick your protein:</h3>-->
<!--            <div th:each="ingredient : ${protein}">-->
<!--                <input name="ingredients" type="checkbox" th:value="${ingredient.id}"-->
<!--                />-->
<!--                <span th:text="${ingredient.name}">INGREDIENT</span><br/>-->
<!--            </div>-->
<!--        </div>-->
<h3>log in</h3>
<h3>or</h3>
<h3>register</h3>
<br/>
<!--        <button th:object="allProducts" th:method="post" th:action="@{shopping/orders/current}" th:text="#{ecommercek.app.submit}"></button>-->


<div th:replace="fragments :: footer"></div>
</body>
</html>
